.education {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
}

@media (width < 769px) {
    .flex {
        flex-direction: column;
    }
}
