html {
    font-family: sans-serif;
}

.header {
    border-bottom: 2px solid black;
}

.no-gaps {
    margin: 0;
    padding: 0;
}

a.unstyle {
    color: inherit;
    text-decoration: none;
}

.container {
    margin: auto;
    width: 50%;
    max-width: 920px;
}

@media (width < 920px) {
    .container {
        margin: auto;
        width: 100%;
    }
}

.nav-list {
    list-style-type: none;
    padding-left: 0;
}

.nav-list>li {
    display: inline-block;
    padding: 5px;
    background: #e0e0e0;
}

footer {
    font-size: small;
}

footer ul {
    margin: 0;
    padding: 15px;
    background-color: #e0e0e0;
}

footer ul li {
    list-style-type: none;
    display: inline;
}

footer li:not(:first-child):before {
    content: " | ";
}

.section {
    background-color: rgba(204, 209, 209, 0.40);
    margin: 10px 0;
    padding: 0 5px;
}
