receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

exporters:
  otlphttp:
    endpoint: https://otlp-gateway-prod-ap-south-1.grafana.net/otlp
    auth:
      authenticator: basicauth

extensions:
  basicauth:
    client_auth:
      username: ${env:OTELCOL_AUTH_USERNAME}
      password: ${env:OTELCOL_AUTH_PASSWORD}

processors:
  memory_limiter:
    check_interval: 1s
    limit_mib: 800
    spike_limit_mib: 300

  batch:
    timeout: 60s

  resourcedetection:
    detectors:
      - env
      - ec2

  transform/drop_unneeded_resource_attributes:
    error_mode: ignore
    trace_statements:
      - context: resource
        statements:
          - delete_key(attributes, "k8s.pod.start_time")
          - delete_key(attributes, "os.description")
          - delete_key(attributes, "os.type")
          - delete_key(attributes, "process.command_args")
          - delete_key(attributes, "process.executable.path")
          - delete_key(attributes, "process.pid")
          - delete_key(attributes, "process.runtime.description")
          - delete_key(attributes, "process.runtime.name")
          - delete_key(attributes, "process.runtime.version")
    metric_statements:
      - context: resource
        statements:
          - delete_key(attributes, "k8s.pod.start_time")
          - delete_key(attributes, "os.description")
          - delete_key(attributes, "os.type")
          - delete_key(attributes, "process.command_args")
          - delete_key(attributes, "process.executable.path")
          - delete_key(attributes, "process.pid")
          - delete_key(attributes, "process.runtime.description")
          - delete_key(attributes, "process.runtime.name")
          - delete_key(attributes, "process.runtime.version")
    log_statements:
      - context: resource
        statements:
          - delete_key(attributes, "k8s.pod.start_time")
          - delete_key(attributes, "os.description")
          - delete_key(attributes, "os.type")
          - delete_key(attributes, "process.command_args")
          - delete_key(attributes, "process.executable.path")
          - delete_key(attributes, "process.pid")
          - delete_key(attributes, "process.runtime.description")
          - delete_key(attributes, "process.runtime.name")
          - delete_key(attributes, "process.runtime.version")

  transform/add_resource_attributes_as_metric_attributes:
    error_mode: ignore
    metric_statements:
      - context: datapoint
        statements:
          - set(attributes["deployment.environment.name"], resource.attributes["deployment.environment.name"])
          - set(attributes["service.version"], resource.attributes["service.version"])

  filter:
    error_mode: ignore
    metrics:
      datapoint:
        # Filter out http.server.request.duration data points that are not GET
        # method type.
        - metric.name == "http.server.request.duration" and metric.attributes["http.request.method"] != "GET"

connectors:
  grafanacloud:
    host_identifiers:
      - host.name
    metrics_flush_interval: 60s

service:
  telemetry:

  extensions:
    - basicauth

  pipelines:
    traces:
      receivers:
        - otlp
      processors:
        - memory_limiter
        - resourcedetection
        - transform/drop_unneeded_resource_attributes
        - batch
      exporters:
        - otlphttp
        - grafanacloud

    metrics:
      receivers:
        - otlp
      processors:
        - memory_limiter
        - filter
        - resourcedetection
        - transform/drop_unneeded_resource_attributes
        - transform/add_resource_attributes_as_metric_attributes
        - batch
      exporters:
        - otlphttp

    metrics/grafanacloud:
      receivers:
        - grafanacloud
      processors:
        - batch
      exporters:
        - otlphttp

    logs:
      receivers:
        - otlp
      processors:
        - memory_limiter
        - resourcedetection
        - transform/drop_unneeded_resource_attributes
        - batch
      exporters:
        - otlphttp
