<footer>
    <div>
        <ul>
            <li>Code licensed under GPL-3.0 and content is mine</li>
            <li>
                <a href="https://github.com/waduhek/website">Source</a>
            </li>
            <li>
                <a href="https://github.com/waduhek/website/blob/main/LICENSE">
                    License
                </a>
            </li>
        </ul>
    </div>
</footer>
