<header>
    <a href="/" class="unstyle">
        <h2>Ryan Noronha</h2>
    </a>

    <nav>
        <ul>
            <li>
                <a href="/experience" class="unstyle">Experience</a>
            </li>
            <li>
                <a href="/education" class="unstyle">Education</a>
            </li>
            <li>
                <a href="/projects" class="unstyle">Projects</a>
            </li>
        </ul>
    </nav>
</header>
