<header>
    <ul class="header-list">
        <li>
            <a href="/" class="unstyle">
                <h2 class="no-gaps">Ryan Noronha</h2>
            </a>
        </li>
        <li>
            <nav>
                <ul class="nav-list">
                    <li id="home-nav">
                        <a href="/" class="unstyle">Home</a>
                    </li>
                    <li id="exp-nav">
                        <a href="/experience" class="unstyle">Experience</a>
                    </li>
                    <li id="edu-nav">
                        <a href="/education" class="unstyle">Education</a>
                    </li>
                    <li id="project-nav">
                        <a href="/projects" class="unstyle">Projects</a>
                    </li>
                </ul>
            </nav>
        </li>
    </ul>
</header>
