<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/education.css">
        <title>Ryan Noronha - Education</title>
    </head>

    <body>
        <div class="container">
            {{template "header.html.tmpl"}}

            {{range .}}
                <div class="section">
                    <ul class="education flex">
                        <li><b>{{.Institute}}</b></li>
                        <li><i>{{.Location}}</i></li>
                    </ul>
                    <ul class="education">
                        <li><b>Degree</b>: {{.Degree}}</li>
                        <li><b>Major</b>: {{.Major}}<li>
                        <li><i>{{.Start}} - {{.End}}</i></li>
                    </ul>
                    <p>{{.Grade}}</p>
                </div>
            {{end}}

            {{template "footer.html.tmpl"}}
        </div>

        <script src="/static/js/navColourChanger.js"></script>
    </body>
</html>
