<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Ryan Noronha</title>
    </head>

    <body>
        <div class="container">
            {{template "header.html.tmpl"}}
            <div id="about">
                <p>
                    Hi! I am Ryan. I am a software developer based out of
                    Mumbai. I have been developing back-end services using
                    TypeScript (and some times, Java) for the last 4.5 years. I
                    have extensive experience designing, developing, and
                    maintaining micro-services.
                </p>
                <p>
                    Although my job requires me to use TypeScript, I love
                    working on other languages and tech stacks. Off late, I have
                    been playing around with Go and Rust. Infact, this website
                    is running on a Go backend! Apart from that, I also enjoy
                    tinkering with Linux and perfecting my development workflow.
                </p>
            </div>
            <div id="contact">
                <h3>Contact & Socials</h3>
                <p>
                    You can email me at
                    <a href="mailto:ryannor56a@proton.me">
                        ryannor56a@proton.me
                    </a>
                </p>
                <p>
                    I am also reachable on LinkedIn at
                    <a href="https://www.linkedin.com/in/ryannor/">
                        Ryan Noronha
                    </a>
                </p>
                <p>
                    If you'd like to have a look at my projects, feel free to
                    check out my
                    <a href="https://github.com/waduhek">
                        GitHub
                    </a>
                </p>
            </div>
            {{template "footer.html.tmpl"}}
        </div>

        <script src="/static/js/navColourChanger.js"></script>
    </body>
</html>
