<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Ryan Noronha</title>
    </head>

    <body>
        <div class="container">
            {{template "header.html.tmpl"}}
            <div id="about">
                <p>
                    Hi! I am Ryan and I am a Software Developer. I currently
                    work full-time developing scalable and reliable
                    micro-services in TypeScript (and some times Java).
                </p>
                <p>
                    Although I use TypeScript in my day job, I have a passion
                    for other languages such as Go and Rust. Infact, this
                    website is running on a Go backend!
                </p>
                <p>
                    Maybe I should take some more time and make this website
                    look better. But if it ain't broken, don't fix it, right?
                </p>
            </div>
            <div id="contact">
                <h3>Contact</h3>
                <p>
                    You can email me at
                    <a href="mailto:ryannor56a@proton.me">
                        ryannor56a@proton.me
                    </a>
                </p>
                <p>
                    Or, I am also reachable on LinkedIn at
                    <a href="https://www.linkedin.com/in/ryannor/">
                        Ryan Noronha
                    </a>
                </p>
            </div>
        </div>
    </body>
</html>
