<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/projects.css">
        <title>Ryan Noronha - Projects</title>
    </head>

    <body>
        <div class="container">
            {{template "header.html.tmpl"}}

            {{range .}}
                <div class="section">
                    <b>{{.Name}}</b>
                    <div class="links">
                        {{if .PublicURL}}
                            <p>
                                <small>
                                    Public URL: <a href="{{.PublicURL}}">{{.PublicURL}}</a>
                                </small>
                            </p>
                        {{end}}
                        {{if .RepoURL}}
                            <p>
                                <small>
                                    Repo URL: <a href="{{.RepoURL}}">{{.RepoURL}}</a>
                                </small>
                            </p>
                        {{end}}
                    </div>
                    <ul>
                        {{range .Description}}
                            <li>{{.}}</li>
                        {{end}}
                    </ul>
                </div>
            {{end}}

            {{template "footer.html.tmpl"}}
        </div>

        <script src="/static/js/navColourChanger.js"></script>
    </body>
</html>
