on:
  release:
    types:
      - published

jobs:
  push-server-image:
    name: Push server image to GHCR
    runs-on: ubuntu-latest

    if: ${{ startsWith(github.event.release.tag_name, 'server/') }}

    permissions:
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v6

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get tag version
        id: version
        run: |
          tag=$(echo ${{ github.event.release.tag_name }} | cut -d / -f 2)
          echo "tag=$tag" >> $GITHUB_OUTPUT

      - name: Build and tag website image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/website/server:${{ steps.version.outputs.tag }}
            ghcr.io/${{ github.repository_owner }}/website/server:latest

  push-nginx-image:
    name: Push nginx image to GHCR
    runs-on: ubuntu-latest

    if: ${{ startsWith(github.event.release.tag_name, 'nginx/') }}

    permissions:
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v6

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get tag version
        id: version
        run: |
          tag=$(echo ${{ github.event.release.tag_name }} | cut -d / -f 2)
          echo "tag=$tag" >> $GITHUB_OUTPUT

      - name: Build and tag website image
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./nginx
          build-args: |
            NGINX_VERSION=1.29.3
          tags: |
            ghcr.io/${{ github.repository_owner }}/website/nginx:${{ steps.version.outputs.tag }}
            ghcr.io/${{ github.repository_owner }}/website/nginx:latest

  push-otelcol-image:
    name: Push OTel collector image to GHCR
    runs-on: ubuntu-latest

    if: ${{ startsWith(github.event.release.tag_name, 'otelcol/') }}

    permissions:
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v6

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get tag version
        id: version
        run: |
          tag=$(echo ${{ github.event.release.tag_name }} | cut -d / -f 2)
          echo "tag=$tag" >> $GITHUB_OUTPUT

      - name: Build and tag OTel collector image
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./otelcol
          tags: |
            ghcr.io/${{ github.repository_owner }}/website/otelcol:${{ steps.version.outputs.tag }}
            ghcr.io/${{ github.repository_owner }}/website/otelcol:latest
